.cardInicial {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    background: url(../../images/i-love-electro-phrase-handwritten-on-the-school-blackboard-DCM1JC.jpg);
}

a {
    text-decoration: none;
    color: white;
}